<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">

    <title>Document</title>
</head>

<body>
    <div>
        <h1>Thanks for ordering!</h1>
        <p>Size: {{size}} </p>
        <p>Toppings: {{toppingCount}} </p>
        <p>Gluten-Free Crust: {{gfCrust}} </p>
        <p>Special Instructions: {{instructions}} </p>
        <p>Price: {{price}} </p>

    </div>
    <a href="/">Back to Homepage</a>
</body>

</html>